
@{
    ViewData["Title"] = "Results";
    ViewBag.Layout = "~/Views/Shared/_Layout.cshtml";
    var metrics = ViewBag.Metrics.ToObject() as Dictionary<String, Object>;
    var metricDescriptions = ViewBag.MetricDescriptions as Dictionary<String, String>;
    var results = ViewBag.Results as Dictionary<int, int>;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
    <h1 align="center">Test Results</h1>
    <div class="test-results">
        <table>
            <tr>
                <th>Factor</th>
                <th>Value</th>
            </tr>
            @foreach (var kv in metrics)
            {
                <tr>
                    <td class="table-metric">@(metricDescriptions[kv.Key])</td>
                    <td class="table-value">@(kv.Value)</td>
                </tr>
            }
        </table>
    </div>
</head>
<body>
</body>
</html>
