@{
    ViewData["Title"] = "Checkout";
    ViewData["TestName"] = ViewBag.TestName ?? "";
    ViewData["TestInstruction"] = ViewBag.TestInstruction ?? "";
    ViewData["PartCount"] = ViewBag.PartCount ?? 1;
}

<h2>Step 1 of 4</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <table>
        <tr>
            <td><label for="testName">Test name: </label></td>
            <td><input id="testName " type="text" name="testName" placeholder="Enter test name here" required /></td>
        </tr>
        <tr>
            <td><label for="testInstruction">Instruction for test: </label></td>
            <td><textarea id="testInstruction" name="testInstruction" rows="10" cols="50" placeholder="Write instructions here" required></textarea></td>
        </tr>
        <tr>
            <td><label for="partCount">Number of parts: </label></td>
            <td><input id="partCount" type="number" name="partCount" min="1" max="10" value="1" /></td>
        </tr>
        <tr>
            <td><label for="metricCount">Number of metrics: </label></td>
            <td><input id="metricCount" type="number" name="metricCount" min="1" max="20" value="1" /> </td>
        </tr>
        <tr>
            <td rowspan="3"><label for="questionType">Question type: </label></td>
            <td>
                <input type="radio" id="qType1" name="questionType" value="slider" onclick="qType1Selected();" required/>
                <label for="qType1">Simple slider</label>
            </td>
            <td>
                <input type="radio" id="qType2" name="questionType" value="antagonistic" onclick="qType2Selected();" required/>
                <label for="qType2">Slider between 2 contrasting sentences</label>
            </td>
            <td>
                <input type="radio" id="qType3" name="questionType" value="variant" onclick="qType3Selected();" required/>
                <label for="qType3">Variants</label>
            </td>
        </tr>
        <tr>
            <td>
                <label for="sliderMin">Min</label>
                <input id="sliderMin" type="number" name="sliderMin" min="-20" max="20" value="0" />               
            </td>
            <td>
                <label for="antaMin">Min</label>
                <input id="antaMin" type="number" name="sliderMin" min="-20" max="20" value="0" />
            </td>           
            <td rowspan="2">
                <textarea id="variants" name="variants" rows="5" cols="30" placeholder="Write variants here, 1 per line"></textarea>
            </td>
        </tr>
        <tr>
            <td>
                <label for="sliderMax">Max</label>
                <input id="sliderMax" type="number" name="sliderMin" min="-20" max="20" value="0" />
            </td>
            <td>
                <label for="antaMax">Max</label>
                <input id="antaMax" type="number" name="sliderMin" min="-20" max="20" value="0" />
            </td>
        </tr>
    </table>
    <hr />
    <input type="submit" name="go" value="Next" class="btn btn-primary" />
}

@section Scripts
{
    <script type="text/javascript">
        function qType1Selected() {
            $("#sliderMin").prop('disabled', false);
            $("#sliderMax").prop('disabled', false);
            $("#antaMin").prop('disabled', true);
            $("#antaMax").prop('disabled', true);
            $("#variants").prop('disabled', true);
        }
        function qType2Selected() {
            $("#sliderMin").prop('disabled', true);
            $("#sliderMax").prop('disabled', true);
            $("#antaMin").prop('disabled', false);
            $("#antaMax").prop('disabled', false);
            $("#variants").prop('disabled', true);
        }
        function qType3Selected() {
            $("#sliderMin").prop('disabled', true);
            $("#sliderMax").prop('disabled', true);
            $("#antaMin").prop('disabled', true);
            $("#antaMax").prop('disabled', true);
            $("#variants").prop('disabled', false);
        }
    </script>
}