@{
    ViewData["Title"] = "Home Page";
}


<h2>Welcome to Psychological Testing</h2>
<form id="LoginForm">
    <input type="text" placeholder="login"><br>
    <input type="password" placeholder="password">
</form>