@using Microsoft.AspNetCore.Identity
@using psytest.Areas.Identity.Data
@inject SignInManager<TestingUser> SignInManager
@inject UserManager<TestingUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrator"))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="TestCreation" asp-action="Index">Test Creation Wizard</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="ManageTests" asp-action="Index">Manage Tests</a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Results" asp-action="Index">Manage Results</a>
        </li>
    }
</ul>
