@{
    ViewData["Title"] = "Home Page";
}


<h2 align="center">Welcome to Psychological Testing</h2>
<div class="login-form">
    <h4>Sign in for site admin</h4>
    <form id="LoginForm">
        <input type="text" placeholder="login"><br>
        <input type="password" placeholder="password">
    </form>
    <a href="/Home/TestList">Go to testing!</a>
</div>