@{
    ViewData["Title"] = "Home Page";
}


<h2 align="center">Welcome to Psychological Testing</h2>
<div class="login-form">
    <h4>Sign in for site admin</h4>
    <form id="LoginForm" style="padding: 8px;">
        <input type="text" placeholder="login"><br>
        <input type="password" placeholder="password"><br>
        <input type="button" class="btn btn-success" value="Log in">
    </form>
    <a class="btn btn-large btn-success" href="/Home/TestList">Go to testing!</a>
</div>