@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<psytest.Models.Test>

@{
    ViewData["Title"] = "Index";
    ViewData["TestList"] = Localizer["TestList"];
}

<h2>@(ViewData["TestList"])</h2>

<div class="centered">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a href="/PerformTest/Test?testID=@(item.Id)&questionNumber=1&clearCookies=true">Go</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>