@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model IEnumerable<psytest.Models.Test>

@{
    ViewData["Title"] = "Index";
    ViewData["TestList"] = Localizer["TestList"];
    ViewData["ChooseTest"] = Localizer["ChooseTest"];
    ViewData["StartTesting"] = Localizer["StartTesting"];
}

<h2>@(ViewData["TestList"])</h2>

<div class="centered">
    <table class="table" style="font-size: 22px;">
        <thead>
            <tr>
                <th>
                    @(ViewData["ChooseTest"])
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @(item.Hidden ? item.Name + Localizer["Hidden"].Value : item.Name)
                </td>
                <td>
                    <a class="btn btn-success" href="/PerformTest/Test?testID=@(item.Id)&questionNumber=1&clearCookies=true">@(ViewData["StartTesting"])</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>